#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8%;
}

#estruturas {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 80px; 
    margin-top: 40px;
}

.estrutura {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding: 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 40px;
}

.estrutura:nth-child(even) {
    flex-direction: row-reverse;
}

.slider-wrapper {
    flex: 1;
    max-width: 550px;
}

.estrutura-content {
    flex: 1;
}

.estrutura:nth-child(even) .estrutura-content {
    text-align: right;
}

.estrutura-title {
    font-size: 2.2rem;
    font-weight: 800;
    color: #1d1d1d;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: fit-content;    
}

.estrutura-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: darkgray;
    margin-top: 8px;
    border-radius: 2px;
}

.estrutura:nth-child(even) .estrutura-title::after {
    margin-left: auto;
}

.estrutura-description {
    font-size: 1.35rem;
    line-height: 1.6;
    color: #434343;
}

@media screen and (max-width: 900px) {
    .estrutura, 
    .estrutura:nth-child(even) {
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        text-align: center;
    }

    .estrutura-title::after {
        margin: 8px auto 0 auto;
    }
}